.navbar {
  background: #f8f9fa!important;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
}

.navbar a {
  color: #212529;
  font-size: 1 rem;
  text-decoration: none;
  margin: 10px;
  line-height: 3;
}

