.navbar {
  background: #f3f3f3!important;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  text-decoration: none;
  margin: 10px;
  line-height: 3;
}

ul a {
  color: #373737;
}

li {
  padding: 8px;
}

